body {
    background-image: url("lightpurple.jpg");
    background-size: cover;
    /* background image for the website */
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
h1 {
    color:blueviolet;
    text-align: center;
    border-style: solid;
    border-color: purple;
    /* heading will be at the center of the website with a solid border around it */
}


#drinksfoods ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(36, 4, 44);
  }
  
  #drinksfoods li {
    float: left;
  }
  
  #drinksfoods li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  #drinksfoods li a:hover {
    background-color: #111;
  }
  
  #drinksfoods.active {
    background-color: red;
  }